* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Jost", sans-serif;
  background-color: #1d1c1b;
}

:root {
  --bg-color: #1d1c1b;
  --text-color: #fff;
  --main-color: #ea5445;
  --other-color: #858585;
  --h1-font: 3rem;
  --p-font: 1rem;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  padding: 32px 13%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s ease;
}

.logo {
  color: var(--text-color);
  font-size: 36px;
  font-weight: 700;
}

.navlist {
  display: flex;
}

.navlist a {
  display: inline-flex;
  font-size: var(--p-font);
  font-weight: 500;
  color: var(--text-color);
  margin: 0 30px;
  transition: all 0.6s ease;
}

.navlist a:hover {
  color: var(--other-color);
  transform: translate(-6px);
}

.nav-btn {
  display: inline-block;
  padding: 14px 35px;
  background: var(--main-color);
  color: var(--text-color);
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border-radius: 30px;
  border: 2px solid transparent;
  transition: all 0.6s ease;
}

.nav-btn:hover {
  background: transparent;
  border: 2px solid var(--main-color);
}

.nav-right {
  display: flex;
}

#menu-icon {
  font-size: 40px;
  cursor: pointer;
  z-index: 10001;
  margin-left: 20px;
  display: none;
  color: #fff;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--bg-color);
  margin-top: 50px;
  color: var(--text-color);
}

.hero-text {
  margin-right: 160px;
}

.hero-img img {
  max-width: 600px;
  width: 200px;
  height: 100%;
  object-fit: contain;
}

.hero-text h1 {
  font-size: var(--h1-font);
  line-height: 1;
  font-weight: 700;
  margin: 20px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: -1px -1px 0px #000, 7px 7px 0px #000, 9px 9px 0px #000000;
}

.hero-text  span .first-name {
  color: var(--main-color);
}

.hero-img img {
  border-radius: 10px;
}

.hero-text h6 {
  font-size: 22px;
  font-weight: 600;
}

.hero-text h6 span {
  color: var(--main-color);
}

.hero-text h4 {
  font-family: "Caveat", cursive;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 30px;
  color: var(--text-color);
}

.hero-text p {
  font-size: var(--p-font);
  color: var(--other-color);
  margin-bottom: 20px;
  line-height: 1;
}

.hero-icons i {
  display: inline-block;
  font-size: 20px;
  color: var(--text-color);
  margin-right: 20px;
  transition: all 0.6s ease;
  margin-bottom: 40px;
}

.hero-icons i:hover {
  transform: rotate3d(0, 0, 1, 360deg);
  color: var(--main-color);
}

.btn {
  display: inline-block;
  align-items: center;
}

.btn {
  display: inline-block;
  padding: 15px 30px;
  background: transparent;
  color: var(--text-color);
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border-radius: 30px;
  border: 1px solid var(--main-color);
  box-shadow: 2px 2px var(--main-color);
  transition: all 0.6s ease;
  margin-right: 30px;
}

.btn:hover {
  background: var(--main-color);
  color: var(--text-color);
}

.btn2 {
  display: inline-block;
  color: var(--text-color);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
}

.btn2:hover {
  border-bottom: 2px solid var(--text-color);
}

.scroll {
  position: absolute;
  top: 92%;
  left: 47%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}

.scroll a {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--text-color);
  letter-spacing: 0.05em;
  transition: all 0.6s ease;
}

.scroll i {
  font-size: 16px;
  margin-right: 6px;
}

.scroll a:hover {
  transform: translateY(-7px);
  color: var(--main-color);
}

@media (max-width: 1800px) {
  header {
    padding: 22px 6%;
  }
  section {
    padding: 40px 6% 50px;
  }
}

@media (max-width: 1510) {
  :root {
    --h1-font: 4.2rem;
    --p-font: 1rem;
  }
  .hero-img img {
    max-width: 600px;
    width: 200px;
    height: 100%;
    object-fit: contain;
  }
}

@media (max-width: 1330) {
  header {
    padding: 22px 4%;
  }
  section {
    padding: 40px 4% 50px;
  }
  :root {
    --h1-font: 4rem;
  }
  .hero-img img {
    max-width: 600px;
    width: 200px;
    height: 100%;
    object-fit: contain;
  }
}

@media (max-width: 1200px) {
  #menu-icon {
    display: block;
  }
  .navlist {
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(30px);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 150px;
    transition: all 0.6s ease;
  }
  .navlist a {
    display: block;
    padding: 0;
    margin: 0px 0px 30px 0px;
    font-size: 1.7rem;
  }
  .navlist a:hover {
    color: var(--main-color);
  }
  .navlist.open {
    right: 0;
  }
  header {
    background: #22211f;
    padding: 10px 4%;
  }
  .logo {
    font-size: 25px;
  }
  .nav-btn {
    padding: 9px 20px;
    font-size: 14px;
  }
  .scroll {
    display: none;
  }
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: auto;
    margin-top: 0;
    padding: 20px;
  }
  .hero-text {
    text-align: center;
    margin: auto;
    order: 2;
    width: 100%;
  }
  .hero-text p {
    width: 100%;
  }
  .hero-img {
    margin-top: 60px;
  }
  .hero--btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 610px) {
  :root {
    --h1-font: 2.7rem;
  }
  .hero-text h4 {
    font-size: 23px;
  }
}

@media (max-width: 375px) {
  .hero-btn a {
    align-items: center;
    margin-bottom: 20px;
  }
}
.hero-icons a {
  color: var(--text-color);
  font-size: 20px; 
  margin-right: 20px; 
  margin: auto;
  transition: color 0.3s ease, transform 0.3s ease;
}

.hero-icons a:hover {
  color: var(--main-color); 
  transform: scale(1.1); 
}

.hero-img {
  display: inline-block;
  padding: 10px;
  border-radius: 30%;
}

.hero-img img {
  display: block;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.hero-icons p {
  color: var(--text-color);
  font-size: var(--p-font);
  font-weight: 700;
  margin-bottom: 10px; 
}


